.btn {
  padding: 3px 24px;
  color: white;
  cursor: pointer;
  margin-right: 19px;
  border: none;
}
.add-tracker:hover{
  background-color: #5cbd5c;
}
.close-tracker:hover{
  background-color: red;
}
